<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{  STATIC_URL }}css/standard.css"/>
    <link rel="stylesheet" href="{{  STATIC_URL }}css/init-form.css"/>
    <script language="JavaScript" src="{{ STATIC_URL }}js/jquery-latest.js" type="text/JavaScript"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}js/horz-tabs.js" type="text/JavaScript"></script>
    <script type="text/javascript" language="JavaScript">

        function showhelp(field) {
            var fieldid = '#ht-' + field;
            if (jQuery(fieldid).hasClass('selected')) {
                jQuery(fieldid).hide();
                jQuery(fieldid).removeClass('selected');
            }
            else {
                jQuery(fieldid).show();
                jQuery(fieldid).addClass('selected');
            }

        }
        jQuery(document).ready(function() {

            // TODO use this to display errors?
            jQuery("#xbtn").click(function() {
                jQuery("#notebar").hide();
            });

            jQuery('#id_upload_file').bind('change', function() {
                //this.files[0].size gets the size of your file.
                if (this.files[0].size > 20000000)
                    alert("This file is too large -- maximum upload size is 20 Mb")
            });


            var form = jQuery("#initform");
            form.submit(function(e) {
                jQuery("#sendbutton").attr('disabled', true);
                jQuery("#wait_img").show();
                jQuery("#sb_div").append('<div class="help-text" style="text-align:right; width:auto;"> Note: this analysis may take several minutes</div>')
            });

            // show upload data screen initially
            jQuery("#data_toy").show();
            jQuery("#data_toy_button").addClass('selected');

            jQuery(".help-text").hide();


            var current_alg = jQuery("#id_std_algo").val();
            //        vertical expand and compression
            var vert_tabs = jQuery('.container');

            if (jQuery("#" + current_alg + "_adv_container").hasClass("notops")) {
                jQuery("#numtops").attr('disabled', true);
            }
            else {
                jQuery("#numtops").attr('disabled', false);
            }
            vert_tabs.hide(); // initially hidden?
            jQuery('#advanced_params_title').click(
                    function() {
                        if (jQuery(this).hasClass("active")) {
                            jQuery(this).removeClass("active");
                            jQuery(this).addClass("inactive")
                        }
                        else {
                            jQuery(this).removeClass("inactive");
                            jQuery(this).addClass("active")
                        }

                        var elem = "#" + current_alg + "_adv_container";
                        if (jQuery(elem).hasClass('selected')) {
                            jQuery(elem).hide();
                            jQuery(elem).removeClass('selected');
                        }
                        else {
                            jQuery(elem).show();
                            jQuery(elem).addClass('selected')
                        }
                        return false;
                    }
            );

            jQuery("#id_std_algo").change(function() {
                var old_elem = "#" + current_alg + "_adv_container";
                current_alg = jQuery("#id_std_algo").val()
                var next_elem = '#' + current_alg + "_adv_container";
                if (jQuery(old_elem).hasClass('selected')) {
                    jQuery(old_elem).hide();
                    jQuery(old_elem).removeClass('selected');
                    jQuery(next_elem).addClass('selected');
                    jQuery(next_elem).show();
                }

                if (jQuery(next_elem).hasClass("notops")) {
                    jQuery("#numtops").attr('disabled', true);
                }
                else {
                    jQuery("#numtops").attr('disabled', false);
                }

            });
        });

    </script>

    <title>Topic Model Analyzer</title>
</head>

<html>
{% block body %}
    <body>

    <div class="paper">
         {% if notifications %}
        <div id="notebar">
            <div id="xbtn">x</div>
            {% for note in notifications %}
                <div class="note">
                    {{ note }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <form action="." method="post" enctype="multipart/form-data" id="initform">{% csrf_token %}
            <div id="analysis_form">
                <fieldset>
                    <legend>Analysis</legend>
                    {% include "algorithm-form.html" %}
                </fieldset>
            </div>

            <div id="data_form">
                <fieldset>
                    <legend>Data</legend>
                    <div class="tabs">

                        <ul class="tab_nav">
                            <li><a href="#data_toy" id="data_toy_button">[Benchmark]</a></li>
                            <li><a href="#data_upload" id="data_upload_button">[Upload]</a></li>
                            <li><a href="#data_url">[URL]</a></li>
                            <li><a href="#data_arxiv">[arXiv]</a></li>
                        </ul>

                        {% include "data-form.html" %}

                    </div>
                </fieldset>
            </div>

            <div class="processing">
                <fieldset>
                    <legend>Processing</legend>
                    {% include "processing-form.html" %}
                </fieldset>
            </div>

            <div id="sb_div">
                <span style="display: block; text-align: right;" id="sendspan">
                    <img id="wait_img" alt="loading" src="{{ STATIC_URL }}images/ajax-loading-bar.gif" style="vertical-align: middle; display:none;"/>
                    <input id="sendbutton" type="submit" value="Analyze">
                </span>
            </div>

        </form>
    </div>
    </body>
{% endblock %}
</html>
