{% extends "tmabase.html" %}

{% block jscript %}
    <script language="JavaScript" src="{{ STATIC_URL }}js/jquery-latest.js" type="text/JavaScript"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}js/horz-tabs.js" type="text/JavaScript"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}js/init-page.js" type="text/JavaScript"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{  STATIC_URL }}css/init-form.css"/>
{% endblock %}

{% block title %}
    Topic Model Analyzer
{% endblock %}

{% block navbar %}
{% endblock %}

{% block bodyheader %}
{% endblock %}

{% block thebody %}

    <div id="main" class="paper">
        {% if notifications %}
            <div id="notebar">
                <div id="xbtn">x</div>
                {% for note in notifications %}
                    <div class="note">
                        {{ note }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form action="." method="post" enctype="multipart/form-data" id="initform">{% csrf_token %}
            <div id="analysis_form">
                <fieldset>
                    <legend>Analysis</legend>
                    {% include "algorithm-form.html" %}
                </fieldset>
            </div>

            <div id="data_form">
                <fieldset>
                    <legend>Data</legend>
                    <div class="tabs">

                        <ul class="tab_nav">
                            <li><a href="#data_toy" id="data_toy_button">[Example]</a></li>
                            <li><a href="#data_upload" id="data_upload_button">[Upload]</a></li>
                            <li><a href="#data_url">[URL]</a></li>
                            <li><a href="#data_arxiv">[arXiv]</a></li>
                        </ul>

                        {% include "data-form.html" %}

                    </div>
                </fieldset>
            </div>

            <div class="processing">
                <fieldset>
                    <legend>Processing</legend>
                    {% include "processing-form.html" %}
                </fieldset>
            </div>

            <div id="sb_div">
                <span style="display: block; text-align: right;" id="sendspan">
                    <img id="wait_img" alt="loading" src="{{ STATIC_URL }}images/ajax-loading-bar.gif"
                         style="vertical-align: middle; display:none;"/>
                    <input id="sendbutton" type="submit" value="Analyze">
                </span>
            </div>

        </form>
    </div>
{% endblock %}
