{% extends "tmabase.html" %}

{% block jscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
    <script type="text/javascript"> var doc_data = {% if doc_data %} {{doc_data|safe}} {% else %} {} {% endif %} </script>
    <script type="text/javascript"> var term_data = {% if term_data %} {{term_data|safe}} {% else %} {} {% endif %} </script>
    <script type="text/javascript"> var top_data = {% if top_data %} {{top_data|safe}} {% else %} {} {% endif %} </script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/prototype.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scriptaculous.js?load=effects"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/lightwindow.js'></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lightwindow.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/relationships.css" type="text/css" media="screen"/>
{% endblock %}

{% block bodyheader %}
{% endblock %}

{% block thebody %}
    <div id="main">

        <div id="leftpanel" class="column">
            <div id="leftheader">
                <button id="doc-button" class="first active"> Documents</button>
                <button id="terms-button" class="last"> Terms</button>
            </div>

        </div>
        <div id="rightpanel" class="column">

        </div>
        <div id="bottompanel" class="column">
            <div id="bottomtitle" class="title">
                <span style="font-weight: normal; font-style: italic;">--Click a node to load information about it--</span>
            </div>
            <div id="bottomtext" class="">
            </div>
        </div>
    </div>

    <script type='text/javascript' src='{{ STATIC_URL }}js/data_relationships.js'></script>
{% endblock %}