<!DOCTYPE html>
<html>
<head>
{#TODO move static content into static files and use templates better#}
<title>TMA Summary</title>

{#CSS#}
<link rel="stylesheet" href="{{  STATIC_URL }}css/blue/style.css"/>
<link rel="stylesheet" href="{{  STATIC_URL }}css/model.css"/>
<link rel="stylesheet" href="{{  STATIC_URL }}css/converge-form.css"/>
<link rel="stylesheet" href="{{  STATIC_URL }}css/standard.css"/>

{#JS#}
<script type="text/javascript">
    var like_data = {{like_data}};
    var topic_titles = [{% for top in topics %} "{{ top.terms }}", {%  endfor %}];
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
<script language="JavaScript" src="{{ STATIC_URL }}js/jquery-latest.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}js/jquery.tablesorter.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}js/flot/jquery.flot.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}js/flot/jquery.flot.axislabels.js" type="text/JavaScript"></script>
<script language="JavaScript" src="{{ STATIC_URL }}js/horz-tabs.js" type="text/JavaScript"></script>

<script language="JavaScript" type="text/javascript">
    jQuery(document).ready(function() {
                jQuery("#coherenceTable").tablesorter();
            }
    );
</script>

<script language="JavaScript" type="text/javascript">
    jQuery(document).ready(function() {

        jQuery('#id_folds').keyup(function() {
//            disable the percent test input field when using folds
            var idfval = jQuery("#id_folds").val();
            if (idfval != "1") {
                jQuery("#id_pertest").attr('disabled', true);

            }
            else {
                jQuery("#id_pertest").attr('disabled', false);
            }
        });

        jQuery(function () {
            var vert_tabs = jQuery('.container');
//                vert_tabs.hide(); // initially hidden?
            jQuery('div.container_title a').click(
                    function() {
                        var elem = this.hash
                        if (jQuery(elem).hasClass('selected')) {
                            jQuery(elem).hide();
                            jQuery(elem).removeClass('selected');
                        }
                        else {
                            jQuery(elem).show();
                            jQuery(elem).addClass('selected')
                        }
                        return false;
                    }
            );

        });
    });

</script>

<script language="JavaScript" type="text/javascript">
    jQuery(document).ready(function() {
        var ajax_load = "<img src='{{ STATIC_URL }}images/ajax-loading.gif' alt='loading...' style='vertical-align: middle; align:right'/>";
        var jsonUrl = "../bing-coherence";
        var rgb = "{{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}";
        jQuery("#load_bing").click(function() {
                    document.getElementById("bing_header").innerHTML = "Bing Coherence &nbsp; &nbsp; &nbsp;" + ajax_load + "&nbsp;&nbsp;"
                    jQuery.getJSON(jsonUrl, function(data) {
                                var data2 = []
                                jQuery.each(data, function(i, val) {
                                            data2.push(parseInt(val))
                                        }
                                );
                                var datasort = data2.sort();
                                var tlen = data2.length;

                                jQuery.each(data, function(i, val) {
                                            document.getElementById("bing_top" + i).innerHTML = val;
                                            var alpha = datasort.indexOf(val) / (tlen - 1.0)
                                            jQuery("#bing_top" + i).css("background", "rgba(" + rgb + "," + alpha + ")");
                                            jQuery("#coherenceTable").trigger("update");
                                        }
                                );
                                document.getElementById("bing_header").innerHTML = "Bing Coherence";
                            }
                    );
                    var sorting = [
                        [2,1],
                        [0,0]
                    ];
                    // sort on the first column
                    jQuery("#coherenceTable").trigger("sorton", [sorting]);
                }
        );
    });
</script>

<script language="JavaScript" type="text/javascript">
    jQuery(document).ready(function() {
        var lp_data = [];
        for (var i = 0; i < like_data.length; i++) {
            lp_data.push([i + 1, like_data[i]]);
        }
        var options = {
            series: {
                lines: { show: true },
                points: {
                    show: true,
                    radius: 5
                },
                color: "black"
            },
            yaxes: [
                {
                    axisLabel: 'log likelihood'
                }
            ],
            xaxes: [
                {
                    axisLabel: 'iteration number'
//                    max: 45
                }
            ]
        };
        jQuery.plot(jQuery("#likelihood"), [lp_data], options);
//            jQuery.plot(jQuery("#perplexity_graph"), [], {});
    });
</script>

<script language="JavaScript" type="text/javascript">

    function plot_ppt(ppt_data, selected_param, min_x_axis, max_x_axis) {
        var options = {
            series: {
                lines: { show: true },
                points: {
                    show: true,
                    radius: 5
                }
            },
            yaxis:
            {
                axisLabel: 'Perplexity'
            },
            xaxis:
            {
                axisLabel: selected_param,
                min: min_x_axis,
                max: max_x_axis
            },
            grid: {
                hoverable: true,
                clickable: true
            }

        };

        jQuery.plot(jQuery("#perplexity_graph"), ppt_data, options);
    }

    jQuery(function() {
        var form = jQuery("#perplexity_form");
        form.submit(function(e) {
            var selected_param = jQuery("#id_param option:selected").text();
            var min_param_val = parseInt(jQuery("#id_start").val());
            var param_step = parseInt(jQuery("#id_step").val());
            var max_param_val = parseInt(jQuery("#id_stop").val());
            var nfolds = parseInt(jQuery("#id_folds").val());
            var min_x_axis = min_param_val - param_step / 2.0;
            var max_x_axis = max_param_val + param_step / 2.0;
            var ppt_array = [];
            for (var i = 0; i < nfolds; ++i) {
                ppt_array.push([])
            }

            function process_next(fold, param) {
                jQuery("#id_current_fold").val(fold)
                jQuery("#id_current_step").val(param)
                jQuery.get(
                        form.attr('action'),
                        form.serializeArray(),
                        function(ppt_data) {
                            if (ppt_data != '') {
                                var do_plot = true; // keep errors separate
                                try {
                                    ppt_data = jQuery.parseJSON(ppt_data);
                                }
                                catch(err) {
                                    do_plot = false
                                    jQuery('#perplexity_data').html(ppt_data);
                                }
                                if (do_plot) {
                                    // add results to ppt_data and replot
                                    ppt_array[fold - 1].push(ppt_data[0][0])
                                    plot_ppt(ppt_array, selected_param, min_x_axis, max_x_axis);
                                    param += param_step;
                                    if (param > max_param_val) {
                                        param = min_param_val;
                                        fold++;
                                    }
                                    if (fold <= nfolds) {
                                        process_next(fold, param);
                                    }
                                    else {
                                        jQuery("#sendbutton").attr('disabled', false);
                                        jQuery(".error").remove();
                                        jQuery("#load_bar").remove();
                                    }
                                }
                            } // TODO ELSE return errors...
                        }
                );
            } // end process_next

            jQuery("#sendbutton").attr('disabled', true);
            jQuery("#sendwrapper").prepend("<div id='load_bar' style='float:left;'> <img src='{{ STATIC_URL }}images/ajax-loading-bar.gif' alt='loading bar...' style='vertical-align: middle;' /></div>");
            jQuery("#id_current_step").val(min_param_val)
            jQuery("#id_current_fold").val(1)
            process_next(1, min_param_val)
            e.preventDefault();
        });
    });
</script>




</head>
<body>

<div id="coherence" class="paper">
    <h2 style="text-align: center">-Topic Evaluations-</h2>
    <table id="coherenceTable" class="tablesorter">
        <thead>
        <tr>
            <th>
                Terms
            </th>
            <th>
                Likelihood &nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                Topic Coherence &nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                Wikipedia Coherence &nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th id="bing_header">
                Bing Coherence &nbsp;&nbsp;&nbsp;{% if query_bing %}&nbsp; &nbsp; <input type="submit"
                                                                                         value="Query"
                                                                                         id="load_bing"/> {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for top in topics %}
            <tr>
                <td>
                    {{ top.terms }}
                </td>
                <td class="score" id="like_top{{ top.id }}"
                    style="background: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, {{ top.topic_likelihood_alpha }});">
                    {{ top.topic_likelihood }}
                </td>
                <td class="score" id="tc_top{{ top.id }}"
                    style="background: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, {{ top.tc_score_alpha }});">
                    {{ top.tc_score }}
                </td>
                <td class="score" id="wiki_top{{ top.id }}"
                    style="background: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, {{ top.wiki_abs_score_alpha }});">
                    {{ top.wiki_abs_score }}
                </td>
                <td class="score" id="bing_top{{ top.id }}"
                    style="background: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, {{ top.search_title_score_alpha }});">
                    {{ top.search_title_score }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <div class="tabs">

        <ul class="tab_nav">
            <li id=exp_title> Explanation <span style="font-size:8px; margin-right:10px;"> &#9654; </span></li>
            <li><a href="#exp_gen">[General]</a></li>
            <li><a href="#exp_llike">[Likelihood]</a></li>
            <li><a href="#exp_tc">[Topic Coherence]</a></li>
            <li><a href="#exp_wc">[Wikipedia Coherence]</a></li>
            <li><a href="#exp_bc">[Bing Coherence]</a></li>
        </ul>

        <div id="exp_gen">
            <p>
                Each column provides a different measure of coherence or interpretability for a given topic. Clicking on
                a column header
                sorts the table by that column. The terms are ordered by the descending probability of the term given
                the topic.
                Click on the appropriate "explanation header" to learn more about the given measure.
            </p>
        </div>

        <div id="exp_llike">
            <p>
                "Likelihood" is the combined log likelihood of the <em> displayed </em> terms given the topic:
                &Sigma;<sub>i</sub> log p(w<sub>i</sub>|z), where {w}<sub>i</sub> is the set of terms listed under
                "terms."
                See section 2 of <a href="http://www.aclweb.org/anthology-new/P/P11/P11-1154.pdf" target="_blank">Automatic
                Labelling of Topic Models</a>
                for a brief overview of topic labeling. Less negative scores indicate a "better" topic.
            </p>
        </div>

        <div id="exp_tc">
            <p>
                "Topic Coherence" is a metric formulated in the paper,
                <a href="http://www.cs.princeton.edu/~mimno/papers/mimno-semantic-emnlp.pdf" target="_blank">Optimizing
                    Semantic Coherence in Topic Models</a> (equation 1),
                to automatically evaluate the coherence of the <em>M</em> most probable words for a given topic.
                The metric essentially computes the sum of &Sigma;<sup>M</sup><sub>m=2</sub> &Sigma;<sup>m-1</sup><sub>l=1</sub>
                log[ (D<sub>m,l</sub> + 1)/D<sub>l</sub> ] for each of the <em> M </em> choose 2
                combinations of terms for the topic, where D<sub>m,l</sub> is the number of documents in the corpus that
                contain both term 'm' and term 'l'
                and D<sub>l</sub> is the number of documents in the corpus that cotain term 'l'. Rather than use the
                combined sum over all <em>M</em>
                choose 2 combinations, this Topic Coherence score reports the median. Less negative scores indicate a
                better topic.
            </p>
        </div>

        <div id="exp_wc">
            <p>
                "Wikipedia Coherence" is a metric formulated in the paper, <a
                    href="http://www.aclweb.org/anthology-new/N/N10/N10-1012.pdf" target="_blank">Automatic Evaluation
                of Topic Coherence</a>
                (see 4.2 Wikipedia: "Term Co-occurrence" (PMI)), which uses the median of log[ N<sub>w1,w2</sub> N /
                (N<sub>w1</sub>N<sub>w2</sub>) ] as a measure of
                topic coherence for the most probable terms in a topic. N is the number of wikipedia document windows in
                the corpus,
                N<sub>w1,w2</sub> is the number of wikipedia document windows that contain both term 'w1' and term 'w2',
                and N<sub>wi</sub> (i = 1,2)
                is the number of wikipedia document windows that contain wi. In the original publication, the authors
                use a sliding 10-word window
                over all wikipedia documents as their "wikipedia document windows." To avoid the arbitrary nature of
                using ten words, we search for cooccrence in
                the entire abstracts of all wikipedia documents. See TODO (insert database URL) for the wikipedia
                database. Larger scores indicate a better topic.

            </p>
        </div>

        <div id="exp_bc">
            <p>
                "Bing Coherence" is a metric based from a similar metric formulated in the paper, <a
                    href="http://www.aclweb.org/anthology-new/N/N10/N10-1012.pdf" target="_blank">Automatic Evaluation
                of Topic Coherence</a>
                (see 4.3 Search engine-based similarity: "Google title matches (Titles)") --- the central difference is
                that the authors of the paper
                used Google where we use Microsoft's Bing. This method queries Bing for the topic in its entirety, after
                first de-stemming the terms if necessary,
                and the Bing coherence for each topic is simply the number of cooccerences of unqiue topic terms in the
                top 50 search results. Larger scores indicate a better topic.

            </p>
        </div>

    </div>


</div>

<div class="paper" id="model_info">
    <h2 style="text-align: center">-Model Analysis-</h2>


    <div class="container_title">
        <a href="#likelihood_container">Model Convergence</a>
    </div>
    <div id="likelihood_container" class="center_align container selected">
        <div id="likelihood" class="center_align">
        </div>
    </div>

    <div class="container_title">
        <a href="#perplexity_container">Perplexity Analysis</a>
    </div>
    <div id="perplexity_container" class="container selected">
        <form action="../perplexity/" method="post" id="perplexity_form" class="left_align">
            {% include "perplexity-form.html" %}
        </form>

        <div id="perplexity_graph" class="right_align">

        </div>
    </div>

</div>




</body>
</html>