<ul id="navigation" class="nav-main">
    <li><a href="../topic-list">Home</a></li>

    <li class="list"><a href="#">Model</a>
        <ul class="nav-sub">
            <li><a href="../model">Model Analysis</a></li>
            <li><a href="../relationships">Relationships</a></li>
        </ul>
    </li>

    <li class="list"><a href="#">Topics</a>
        <ul class="nav-sub">
            <li><a href="../topic-list">List of Terms</a></li>
            <li><a href="../topic-graph">Term Distributions</a></li>
            <li><a href="../topic-presence">Relative Presence</a></li>
        </ul>
    </li>

    <li class="list"><a href="#">Documents</a>
        <ul class="nav-sub">
            <li><a href="../doc-graph">Topic Distributions</a></li>
        </ul>

    </li>

    <li class="list"><a href="#">Terms</a>
        <ul class="nav-sub">
            <li><a href="../term-list">List by Frequency</a></li>
            <li><a href="../term-graph">Topic Distributions</a></li>
        </ul>

    </li>
        <li class="list"><a href="#">Help</a>
        <ul class="nav-sub">
            <li><a target="_blank" href="https://github.com/cjrd/TMA/wiki">Documentation</a></li>
        </ul>

    </li>
</ul>