{% extends "tmabase.html" %}

{% block jscript %}
    <script language="JavaScript" src="{{ STATIC_URL }}js/jquery-latest.js" type="text/JavaScript"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/prototype.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scriptaculous.js?load=effects"></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/lightwindow.js'></script>
{% endblock %}

{% block title %}
    TMA Summary
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/summary.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lightwindow.css" type="text/css" media="screen"/>
{% endblock %}

{% block head1 %}
    {% if alg %}
        {{ alg }} Summary
    {% else %}
        TMA
    {% endif %}
{% endblock %}

{% block thebody %}

    <div id="summary" class="paper">
        <div class="dtable">
            <div class="drow">
                <div class="dcell">
                    <a href="../model" params="lightwindow_type=external" class="lightwindow"><img
                            src="{{ STATIC_URL }}images/likelihood.png" width="200" height="200" border="3" alt=""/></a>

                    <div class="cell-descript">
                        Model Analysis
                    </div>
                </div>
                <div class="dcell">
                    <a href="../relationships" params="lightwindow_type=external" class="lightwindow"><img
                            src="{{ STATIC_URL }}images/forcegraph.png" width="200" height="200" border="3" alt=""/></a>

                    <div class="cell-descript">
                        Relationships
                    </div>
                </div>
                <div class="dcell">
                    <a href="../summary" params="lightwindow_type=external" class="lightwindow"><img
                            src="{{ STATIC_URL }}images/chord.png" width="200" height="200" border="3" alt=""/></a>

                    <div class="cell-descript">
                        Model Comparisons
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="topics" class="paper">
        <div id="h2header">
            <h2>
                -Terms by Topic-
            </h2>
        </div>
        <div class="dtable">
            {% for top_row in disp_topics %}
                <div class="drow">
                    {% for top in top_row %}
                        <div class="dcell">
                            <ul class="cell-list">

                                <li class="cell-title dark-data"
                                    onclick="window.location.href='../topics/{{top.title}}-{{top.id}}'">{{ top.title }} </li>

                                {% for trm in top.terms %}
                                    <li class="cell-elem light-data"
                                        onclick="window.location.href='../terms/{{trm.title}}-{{trm.id}}'">{{ trm.title }}</li>
                                {% endfor %}

                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}