{% extends "tmabase.html" %}

{% block jscript %}
<script language="JavaScript" src="{{ STATIC_URL }}js/jquery-latest.js" type="text/JavaScript"></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/endless.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/endless_on_scroll.js'></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/table-graph.css">
{% endblock %}

{% block head1 %} {{ alg }}{% endblock %}

{% block head2 %} {{ subtitle }} {% endblock %}

{% block thebody %}
    <div id="main">
    {% include "table-graph-entry.html" %}
    </div>
{% endblock %}