<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.com"/>
    {% block jscript %}
    {% endblock %}

    {% block standcss %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/standard.css"/>
    {% endblock %}

    {% block css %}
    {% endblock %}

    <title>{% block title %}TMA{% endblock %}</title>
</head>

<body {% block bodyelem %} {% endblock %}>
{% block navbar %}
    {% include "navigation-bar.html" %}
{% endblock %}

{% block bodyheader %}
    <div id="header">
        <h1>
            {% block head1 %}
            {% endblock %}
        </h1>
        <hr>
    </div>
{% endblock %}

{% block thebody %}

{% endblock %}
</body>
</html>          






