#thecontent {
    margin: 0;
    padding-left: 310px; /* LC fullwidth */
    padding-right: 330px; /* RC fullwidth + CC padding */
    min-width: 330px; /* LC fullwidth + CC padding */
}

.column {
    position: relative;
    float: left;
}

#center {
    padding: 0 10px;
    width: 100%;
}

#left {
    width: 250px; /* LC width */
    padding: 0 30px; /* LC padding */
    right: 330px; /* LC fullwidth + CC padding */
    margin-left: -100%;
}

#right {
    width: 250px; /* RC width */
    padding: 0 30px; /* RC padding */
    margin-right: -100%;
}

#piegraph {
    width: 250px;
    height: 200px;
}
